@font-face {
    font-family: 'LillyBelle';
    src: url('../fonts/LillyBelle.ttf');
}

.root {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-font-family: 'LillyBelle';
}

VBox {
    -fx-padding: 75;
    -fx-min-height: 300px;
    -fx-min-width: 550px;
    -fx-background-image: url('../images/bg_panelMid.png');
    -fx-background-size: auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-spacing: 10;
}

Button{
    -fx-background-image: url('../images/btn_blue.png');
    -fx-focus-color: transparent;
    -fx-min-height: 50px;
    -fx-min-width: 175px;
    -fx-border-radius: 10px;
    -fx-background-size: 175px 50px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #eeeeee;
}

Button:pressed{
  -fx-background-image: url('../images/btn_blue_pressed.png');
}